body,
html {
	width: 100%;
	height: 100%;
}

body {
	min-width: 320px;
	font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}

hr {
	max-width: 50px;
	border-width: 3px;
	border-color: #ffffff;
}

hr.light {
	border-color: #fff;
}

a {
	color: #ff7b7b;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
}

a:hover {
	color: #ff7b7b;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.bg-primary {
	background-color: rgba(255, 123, 123, 0.7) !important;
}

.bg-dark {
	background-color: #212529 !important;
}

.text-faded {
	color: rgba(0, 0, 0, 0.7);
}

section {
	padding: 8rem 0;
}

.section-heading {
	margin-top: 0;
}

::-moz-selection {
	background: #212529;
	color: #fff;
	text-shadow: none;
}

::selection {
	background: #212529;
	color: #fff;
	text-shadow: none;
}

img::selection {
	background: transparent;
	color: #fff;
}

img::-moz-selection {
	background: transparent;
	color: #fff;
}

#mainNav {
	border-bottom: 1px solid rgba(33, 37, 41, 0.1);
	background-color: #fff;
	font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
}

#mainNav .navbar-brand {
	color: #ff7b7b;
	text-transform: uppercase;
	font-weight: 700;
	font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

#mainNav .navbar-brand:focus,
#mainNav .navbar-brand:hover {
	color: #ff7b7b;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
	color: #212529;
	text-transform: uppercase;
	font-weight: 700;
	font-size: .9rem;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
	color: #ff7b7b;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
	background-color: transparent;
	color: #F05F40 !important;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
	background-color: transparent;
}

@media (min-width: 992px) {
	#mainNav {
		border-color: transparent;
		background-color: transparent;
	}
	#mainNav .navbar-brand {
		color: rgba(0, 0, 0, 0.7);
	}
	#mainNav .navbar-brand:focus,
	#mainNav .navbar-brand:hover {
		color: #fff;
		text-shadow: 2px 2px rgba(75, 75, 75, 0.7);
	}
	#mainNav .navbar-nav > li.nav-item > a.nav-link {
		padding: 0.5rem 1rem;
	}
	#mainNav .navbar-nav > li.nav-item > a.nav-link,
	#mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
		color: rgb(0, 0, 0.7);
	}
	#mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
	#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
		color: #fff;
		text-shadow: 2px 2px rgba(75, 75, 75, 0.7);
	}
	#mainNav.navbar-shrink {
		border-bottom: 1px solid rgba(33, 37, 41, 0.1);
		background-color: #fff;
	}
	#mainNav.navbar-shrink .navbar-brand {
		color: #ff7b7b;
	}
	#mainNav.navbar-shrink .navbar-brand:focus,
	#mainNav.navbar-shrink .navbar-brand:hover {
		color: #ff7b7b;
	}
	#mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
	#mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
		color: #212529;
	}
	#mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
	#mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
		color: #ff7b7b;
	}
}

header.masthead {
	padding-top: 10rem;
	padding-bottom: calc(10rem - 56px);
	background-image: url("../img/header.jpg");
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

header.masthead hr {
	margin-top: 30px;
	margin-bottom: 30px;
}

header.masthead h1 {
	font-size: 2rem;
}

header.masthead p {
	font-weight: 300;
}

@media (min-width: 768px) {
	header.masthead p {
		font-size: 1.15rem;
	}
}

@media (min-width: 992px) {
	header.masthead {
		padding-top: 0;
		padding-bottom: 0;
		min-height: 650px;
		height: 100vh;
	}
	header.masthead h1 {
		font-size: 3rem;
	}
}

@media (min-width: 1200px) {
	header.masthead h1 {
		font-size: 4rem;
	}
}

.service-box {
	max-width: 400px;
}

.portfolio-box {
	position: relative;
	display: block;
	margin: 0 auto;
	max-width: 1000px;
}

.portfolio-box .portfolio-box-caption {
	position: absolute;
	bottom: 0;
	display: block;
	width: 100%;
	height: 100%;
	background: rgba(255, 123, 123, 0.7);
	color: #fff;
	text-align: center;
	opacity: 0;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
	transform: translateY(-50%);
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
	padding: 0 15px;
	font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
	text-transform: uppercase;
	font-weight: 600;
	font-size: 14px;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
	font-size: 18px;
}

.portfolio-box:hover .portfolio-box-caption {
	opacity: 1;
}

.portfolio-box:focus {
	outline: none;
}

.go_link {
	display: block;
	background: #ffd8d8;
	color: #3c3c3c;
	text-align: center;
	line-height: 50px;
}

.go_link:hover {
	background: #c75959;
	color: #fff;
	text-decoration: none;
}

.linkbtn {
	width: 100%;
	border-right: 1px solid #c75959;
	border-left: 1px solid #c75959;
	background: #ffd8d8;
	color: #3c3c3c;
	text-align: center;
	line-height: 50px;
}

.linkbtn:hover {
	background: #c75959;
	color: #fff;
}

.plus_page > section > div:nth-child(1) {
	overflow: hidden;
	height: 300px;
	background: url(../img/banner1.jpg) no-repeat;
	background-size: cover;
}

.plus_page > section:nth-child(2) > div:nth-child(1) {
	background: url(../img/main.jpg) no-repeat;
	background-size: cover;
}

.plus_page > section:nth-child(3) > div:nth-child(1) {
	background: url(../img/header.jpg) no-repeat;
	background-size: cover;
}

.plus_page > section > div:nth-child(1) > h4 {
	margin-left: 50px;
	color: #fff;
	font-size: 40px;
}
.plus_page > section:nth-child(2) > div:nth-child(1) > h4 {
	color: #212529;
}

.plus_page > section > div:nth-child(1) > div {
	float: right;
	margin: 50px 50px 0 0;
	text-align: right;
}

.plus_page > section > div:nth-child(1) > div > a {
	display: inline-block;
	padding: 10px;
	border-radius: 5px;
	background: rgba(255, 123, 123, 0.7);
	color: #fff;
	text-align: center;
	text-decoration: none;
}

.plus_page > section > div:nth-child(1) > div > a:hover {
	padding: 15px;
	font-weight: bold;
}

.plus_page > section > div:nth-child(1) > div > p {
	margin: 10px 0 0;
	color: #000000;
	text-shadow: 2px 2px #fff;
}

.plus_page > section > article {
	overflow: hidden;
	margin: 50px 5%;
	width: 90%;
}

.plus_page > section > article > ol {
	float: left;
	width: 30%;
	list-style: none;
}

.plus_page > section > article > ol:nth-child(2) {
	margin: 0 5%;
}

.plus_page > section > div:nth-child(3) > img {
	margin: 0 5%;
	width: 90%;
}

.plushide {
	display: none;
}

@media (min-width: 768px) {
	.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
		font-size: 16px;
	}
	.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
		font-size: 22px;
	}

}

.text-primary {
	color: #F05F40 !important;
}

.btn {
	border: none;
	border-radius: 300px;
	text-transform: uppercase;
	font-weight: 700;
	font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.btn-xl {
	padding: 1rem 2rem;
}

.btn-primary {
	border-color: #ff7b7b;
	background-color: #ff7b7b;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
	background-color: #c75959 !important;
	color: #fff;
}

.btn-primary:active,
.btn-primary:focus {
	box-shadow: 0 0 0 0.2rem rgba(255, 123, 123, 0.7) !important;
}

.img {
	width: 200px;
	height: 200px;
}

.mb-3 {
	font-size: 24px;
}

@media screen and (min-width: 570px) and (max-width: 1000px) {
	.col-sm-6 {
		max-width: 100%;

		-ms-flex: none;
		flex: none;
	}
}

@media screen and (max-width: 1000px) {
	.plus_page > section > article > ol {
		float: none;
		width: 100%;
	}
	.plus_page > section > article > ol:nth-child(2) {
		margin: 30px 0;
	}
	.plus_page>section:nth-child(2)>div:nth-child(1) {
		background: url(../img/main.jpg) no-repeat -300px -900px;
	}
}